* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Georgia;
}
header {
  padding-top: 60px;
  position: absolute;
  width: 100%;
}
header p {
  font-weight: 400;
  font-size: 13px;
  line-height: 14px;
  letter-spacing: 0.1em;
  color: #ffffff;
  font-family: Arial;
  margin-top: 10px;
}
nav a {
  color: #cdcdcd;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  font-family: Arial;
  text-decoration: none;
}
header ul {
  display: flex;
  gap: 37px;
  list-style: none;
}
.container {
  max-width: 1200px;
  margin: auto;
}
.logo a {
  text-decoration: none;
}
.mob-menu {
  width: 35px;
  height: 5px;
  background-color: #cdcdcd00;
  border: none;
  cursor: pointer;
}
.main-hero .container {
  display: flex;
  justify-content: space-between;
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-hero {
  padding-top: 180px;
  background: url(../images/heading.png);
  background: url(../images/start-screen-gradient-background.png),
    url(../images/start-screen-background1.jpg);
  background-size: cover;
}
.main-hero p {
  max-width: 460px;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #cdcdcd;
  margin-bottom: 56px;
  font-family: Arial, Helvetica, sans-serif;
}
.hero-left {
  padding-bottom: 244px;
  padding-top: 170px;
}
.link {
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  color: #292929;
  padding: 15px 45px;
  border-radius: 100px;
  background-color: #f1cdb3;
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}
h1 {
  font-weight: 400;
  font-size: 32px;
  line-height: 35px;
  color: #f1cdb3;
}
h2 {
  font-weight: 400;
  font-size: 35px;
  line-height: 35px;
  color: #545454;
  margin-bottom: 25px;
  width: 350px;
  letter-spacing: 6%;
  text-align: center;
}
.house {
  font-weight: 400;
  font-size: 44px;
  line-height: 57px;
  color: #ffffff;
  margin-bottom: 25px;
  width: 350px;
  text-align: center;
}
h3 {
  margin-bottom: 45px;
  margin-top: 30px;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  color: #545454;
}
h4 {
  margin-top: 30px;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #545454;
}
a:hover {
  color: #fafafa;
}
button:hover {
  background-color: #f1cdb3;
}
.active-tab {
  border-bottom: solid 3px #f1cdb3;
  width: 11px;
  padding: 3px;
  color: #fafafa;
}
.mob-menu {
  width: 27px;
  height: 16px;
  display: none;
}
.about {
  display: flex;
  justify-content: space-evenly;
  padding-top: 94px;
  padding-bottom: 114px;
  background-color: #ffffff;
}
.about-text p {
  font-family: Arial;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #4c4c4c;
  width: 430px;
  margin-bottom: 42px;
}
.frends {
  padding: bottom 115px;
}
.left-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left {
  padding: 20px;
  border-radius: 100px;
  border: solid 2px #f1cdb3;
  background-position: center;
  max-width: 52px;
  height: 52px;
  cursor: pointer;
  background-color: #f6f6f6;
}
.right {
  padding: 20px;
  border-radius: 100px;
  background-position: center;
  max-width: 52px;
  height: 52px;
  cursor: pointer;
  border: solid 2px #f1cdb3;
  background-color: #f6f6f6;
}
.text {
  width: 400px;
  margin: auto;
  margin-bottom: 60px;
}
.pets {
  display: flex;
  justify-content: space-between;
  gap: 90px;
}

.pets a {
  border: solid 2px #f1cdb3;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  color: #292929;
  padding: 15px 45px;
  border-radius: 100px;
  text-decoration: none;
  margin-bottom: 60px;
}
.katrine {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}
.jennifer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}
.woody {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}
.rest {
  background-color: #f1cdb3;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  color: #292929;
  border-radius: 90px;
  text-decoration: none;
  text-align: center;
  width: 260px;
  display: block;
  margin: auto;
  padding: 15px 45px;
}
.pharmacy {
  padding-top: 80px;
  padding-bottom: 100px;
}
.wrapper-pharmacy {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 120px;
}
.pf {
  display: inline-block;
}
.pf img {
  text-align: center;
  margin: auto;
}
.wraper-donation {
  padding-top: 91px;
  padding-bottom: 110px;
}
.donation-dog {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.donation-text {
  max-width: 380px;
}
.card::before {
  content: url(../images/credit-card.svg);
  margin-right: 15px;
  vertical-align: middle;
}
.card {
  padding: 10px 15px 10px 15px;
  border: solid 1px #f1cdb3;
  background-color: #f1cdb3;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 8px;
  text-align: left;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #545454;
  display: inline-block;
}
footer {
  background-image: url(../images/start-screen-gradient-background.png);
  background-size: cover;
  padding-top: 56px;
}
footer a {
  text-decoration: none;
  color: #f1cdb3;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 34px;
}
.wrapper-footer .container {
  display: flex;
  justify-content: space-between;
}
.email {
  width: 278px;
}
.visit {
  width: 278px;
}
.visit h4 {
  margin-bottom: 34px;
  font-size: 35px;
  line-height: 45px;
  font-weight: 400;
  color: #ffffff;
}
.email h4 {
  margin-bottom: 34px;
  font-size: 35px;
  line-height: 45px;
  font-weight: 400;
  color: #ffffff;
}
.mail::before {
  content: url(../images/mail.png);
  vertical-align: middle;
  margin-right: 20px;
}
.tel::before {
  content: url(../images/phone.png);
  vertical-align: middle;
  margin-right: 20px;
}
footer .telefon {
  margin-top: 49px;
}
footer .nav {
  margin-bottom: 37px;
}
.pin::before {
  content: url(../images/pin.png);
  vertical-align: middle;
  margin-right: 20px;
}
.p img {
  margin-right: 40px;
}
.p {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1200px) {
  .container {
    max-width: 90%;
  }
}
@media (max-width: 920px) {
  .pets a {
    padding: 6px 28px;
  }
}
@media (max-width: 810px) {
  .hero-left {
    text-align: center;
    padding-bottom: 100px;
    padding-top: 0px;
  }
  .main-hero .container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .hero-right img {
    width: 40%;
    margin-left: 250px;
  }
  .link {
    margin-left: 110px;
  }
  .hero-left {
    text-align: left;
  }
  .about {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    flex-wrap: wrap;
  }
  .pets {
    gap: 40px;
  }
  .pets a {
    padding: 8px 30px;
  }
  .woody {
    display: none;
  }
  .wrapper-pharmacy {
    justify-content: space-around;
    gap: 0;
    margin-right: 60px;
    text-align: center;
  }
  .pf {
    min-width: 170px;
  }
  .donation-dog {
    flex-direction: column-reverse;
    align-items: center;
  }
  .donation {
    margin-top: 60px;
  }
  .wrapper-footer .container {
    flex-wrap: wrap;
    justify-content: center;
  }
  .puppy {
    margin-top: 69px;
  }
  .puppy img {
    width: 80%;
  }
  .footer {
    padding-top: 30px;
  }
}
@media (max-width: 722px) {
  .header-wrapper nav {
    display: none;
  }
  .hero-right img {
    width: 60%;
    margin: auto;
  }
  .mob-menu {
    display: block;
    margin-right: 43px;
  }
  h1 {
    font-size: 25px;
    line-height: 32px;
  }
  .main-hero p {
    max-width: 300px;
  }
  .hero-left {
    text-align: center;
  }
  .about-pets img {
    width: 58%;
    margin-left: 70px;
  }
  .about p {
    width: 270px;
    margin-left: 25px;
  }
  h2 {
    text-align: center;
    margin-bottom: 42px;
  }
  .jennifer {
    display: none;
  }
  .woody {
    display: none;
  }
  .left-right {
    align-items: flex-end;
    margin: 0 30px 40px;
  }
  .donation-text {
    max-width: 280px;
  }
  .account {
    width: 100%;
    font-size: 15px;
    line-height: 24px;
  }
  .wrapper-pharmacy {
    margin-right: 30px;
    justify-content: space-between;
  }
  .pharmacy {
    margin-left: 30px;
    padding-bottom: 42px;
  }
  .pf {
    min-width: 130px;
  }
  h2 {
    text-align: center;
    width: 300px;
    font-size: 25px;
    line-height: 32px;
  }
  .card {
    max-width: 280px;
    font-size: 15px;
    line-height: 17px;
  }
  .wraper-donation {
    padding-bottom: 42px 0;
  }
  .link {
    margin-left: 0px;
  }
}
